#how-to-use {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.how-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem;
    height: 100%;
    width: 100%;
}
.tutorial-video {
    border-radius: 3ex;
    overflow: hidden;
    width: 100%;
}
.tutorial-video video {
    width: 100%;
    object-fit: cover;
}