#how-to-use {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 6vmax;
}

.how-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem;
    height: 100%;
    width: 100%;
}
.tutorial-img {
    border-radius: 3ex;
    width: 100%;
}
.tutorial-img img {
    width: 100%;
    object-fit: cover;
}